h1 {
color: FireBrick;
}
p1 {
font-family: "Palatino Linotype", "Book Antiqua", palatino, serif;
color: Blue;
font-size: 16px;
font-weight: 70;
}
.headers {
  font-size: 20px;
}
.art-header {
  background-image: url(https://cdn.pixabay.com/photo/2012/04/26/12/41/ink-42357_960_720.png);
}
